<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "La Boite A" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= tag(:link, rel: 'apple-touch-icon', sizes: '180x180', href: asset_path('favicon/apple-touch-icon.png')) %>
    <%= tag(:link, rel: 'icon', type: 'image/png', sizes: '32x32', href: asset_path('favicon/favicon-32x32.png')) %>
    <%= tag(:link, rel: 'icon', type: 'image/png', sizes: '16x16', href: asset_path('favicon/favicon-16x16.png')) %>
    <%= tag(:link, rel: 'manifest', href: asset_path('favicon/site.webmanifest')) %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="absolute inset-0 dark:bg-neutral-900 bg-slate-200 overflow-auto">
      <%= yield %>
    </main>
  </body>
</html>
